<%= form_for(shipment) do |f| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trackingNumber, 'Tracking Number' %>
    <%= f.text_field :trackingNumber %>
  </div>

  <div class="field">
    <%= f.label :destination, "Destination Country" %>
    <%= f.text_field :destination %>
  </div>

  <div class="field">
    <%= f.label :status, "Shipment Status" %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :lastScan, "Last Arrival Scan" %>
    <%= f.text_field :lastScan %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
