<p id="notice"><%= notice %></p>

<h1>Shipments</h1>
<% if @shipments.blank? %>
  <h4>There are no shipment containing the term <%= params[:search] %>.</h4>
<% end %>
<table>
  <thead>
    <tr>
      <th>Tracking Number</th><br/><br/>
      <th>Destination</th><br/><br/>
      <th>Status</th><br/><br/>
      <th>Last Scan</th><br/><br/>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.trackingNumber %></td>
        <td><%= shipment.destination %></td>
        <td><%= shipment.status %></td>
        <td><%= shipment.lastScan %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
