<p id="notice"><%= notice %></p>

<p>
  <strong>Tracking Number:</strong>
  <%= @shipment.trackingnumber %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @shipment.destination %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shipment.status %>
</p>

<p>
  <strong>Lastscan:</strong>
  <%= @shipment.lastscan %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
